global:
  callGetSubjNames: false       # default false, for projecting one base to another 
  callGetProjection: false      # default false, for projecting one base to another  
  callGetWeight: false          # default true, verify function param
  callPrepProjectionMesh: false # default false, for projecting one base to another    
  callGetMeshSpread: false      # default true, verify function param

  callGenMA_ima: true          # default true, verify function param
  callGenMA_mesh: false         # default true, verify function param 

  #generalRoot: /media/sf_D_DRIVE/A_joyCODE/DEV_LIN
  generalRoot: /home/sulci/JS/A_joyCODE/DEV_LIN 
  #generalRoot: /media/sulci/Extreme Pro/JS/A_joyCODE/DEV_LIN
  curRegion: FPOCalCu # CSSyl
    
functions:
  callGetSubjNames:
  #  curBaseOne: /testHCP10
  #  curBaseTwo: /testAmp20
    curBaseOne: /ampExt
    curBaseTwo: ''

  callGetProjection:
    curBaseTwo: /testAmp20
    projectFrom: HCP10
    projectTo: Amp20
    typeDist: min # min, max or mean
    typeProjection: byWeight # simple or byWeight
    subjectsOne: testHCP10_subjNames.txt
    subjectsTwo: testAmp20_subjNames.txt
    combDir: /testHCP10_testAmp20
    shapeValTwo: 'Isomap/isomapCmdsCSSylk5d3_1_distmin_keepOut.txt'
    outName: HCP10_to_Amp20_isoCmdsk5d31min.txt
    outNameSubj: HCP10_to_Amp20_isoCmdsk5d31min_subjMap.txt

  callGetWeight:  
    ###  Calculate the weight given the shape descriptor  ### 
    #################   parameter definitions   ##################    
    # shapeInDir: the folder where the shape descriptor is located
    # inName: the name of the shape file
    # outName: the output weight name
    # shapeCol: the column where we take the shape descriptor input integer starting from 0, or input column name as string 
    # rewriteShape: if you provide a filename (e.g., rewriteShape='cleaned_isomap.csv'), 
    #               the specific column you used for the calculation will be saved into a new, smaller CSV file;
    #               if you put 'none', no extra file will be saved
    #               this is needed only when you have multiple columns in the shape descriptor file
    # numCoord: the number of coordinates
      
    #################   example parameters for isomap, min, dim 3, coord 10   ##################  
    #shapeInDir: /AtrilBioscaCermoi_time1/CSSyl/shape_Isomap_select
    #inName: isomapCmdsCSSylk10d3distmin_ctl_1.txt                      # be careful with min/max
    #outName: isomapCmdsCSSylk10d3distmin_ctl_1_col3_weight.txt         # the 3rd dimension
    #shapeCol: 2                                                        # starting from 0, here shapeCol 2 for dim 3
    #rewriteShape: isomapCmdsCSSylk10d3distmin_ctl_1_col3.txt           # write out the column used for dim 3, third column       
    #numCoord: 10                                                       # 10 coordinates
               
    #################   isomap, max, dim 5, coord 8   #################                                  
    shapeInDir: /AtrilBioscaCermoi_time1/FPOCalCu/shape_select
    inName: FPOCalCu_iso_u_max_right_manhattan_SCA_2.csv
    outName: FPOCalCu_maxRightManhattan_col_IsoDim3Neig5_weight.txt
    shapeCol: iso_dim3_neig5  
    rewriteShape: FPOCalCu_maxRightManhattan_col_IsoDim3Neig5.txt    
    numCoord: 8      
    
                                
  callPrepProjectionMesh:
    #shapeInDir: /Shape_study/CSSyl/HCP10_project_to_Amp20
    #inBckDir: /testHCP10/CSSyl/mesh_ori
    #combPath: /testHCP10_testAmp20/
    #curTrmFile: /testHCP10_testAmp20/CSSyl/ICP/transRotMat_CSSyl.txt
    #center: L101006

  callGetMeshSpread:
    ###  Move the meshes according to the weight file generated above in callGetWeight  ###
    #################   parameter definitions   ##################  
    # coordScale: the spacing regulator -e, 500 for CSSyl, 800 for CSpreCS
    #             for other regions need to experiment to find the ideal spacing 
    # bckInDir: the input directory of the meshes, moved to the center-subject space already    
    # shapeInDir: the folder where the shape descriptor is located
    # inName: the name of the shape file
    # outDir: the name of the output directory
    # curWeightFile: the name of the weight file generated in callGetWeight 
    # numCoord: the number of coordinates         
    # important assumption: 
    #     in 'shapeInDir' there exist the file 'inName' 
    #     'outDir' is a sub-dir of 'shapeInDir'
    
    #################   example parameters for isomap, min, dim 3, coord 10   ################## 
    #coordScale: 500        
    #bckInDir: /AtrilBioscaCermoi_time1/CSSyl/mesh_flip-R00005PS_V1   
    #shapeInDir: /AtrilBioscaCermoi/CSSyl/shape_Isomap_select
    #inName: isomapCmdsCSSylk10d3distmin_sca_1_7_col3.txt
    #outDir: /isomapCmdsCSSylk10d3distmin_sca_1_7_col3  
    #curWeightFile: /AtrilBioscaCermoi/CSSyl/shape_Isomap_select/isomapCmdsCSSylk10d3distmin_sca_1_7_col3_weight.txt
    #numCoord: 10
                    
    #################   isomap, max, dim 5, coord 8   #################                 
    coordScale: 800
    bckInDir: /AtrilBioscaCermoi_time1/FPOCalCu/mesh_L001020HG_E1
    shapeInDir: /AtrilBioscaCermoi_time1/FPOCalCu/shape_select
    inName: FPOCalCu_maxRightManhattan_col_IsoDim3Neig5.txt
    outDir: /maxRightManhattan_col_IsoDim3Neig5  
    curWeightFile: /AtrilBioscaCermoi_time1/FPOCalCu/shape_select/FPOCalCu_maxRightManhattan_col_IsoDim3Neig5_weight.txt
    numCoord: 8
        
                                                                                
  callGenMA_ima:
    ###  Get the averaged MA images according to the weight generated  ###
    #################   parameter definitions   ##################
    #curWeightFile: the weight file generated in CallGetWeight 
    #ima_in_dir:  the images already generated in the general run step beforehand
    #imaMA_out_dir:  the output directory of the MAs
    
    #################   example parameters for isomap, min, dim 3, coord 10   ##################        
    #curWeightFile: /AtrilBioscaCermoi/CSSyl/shape_Isomap_select/isomapCmdsCSSylk10d3distmin_sca_1_7_col3_weight.txt
    #ima_in_dir: /AtrilBioscaCermoi/CSSyl/ima_spamCoord10isomapCmdsCSSylk10d3_3_minscale1_keepOut
    #imaMA_out_dir: /AtrilBioscaCermoi/CSSyl/shape_Isomap_select/imaMA_dim33_sca_1_7_min            
        
    #################   isomap, max, dim 5, coord 8   #################     
    curWeightFile: /AtrilBioscaCermoi_time1/FPOCalCu/shape_select/FPOCalCu_maxRightManhattan_col_IsoDim3Neig5_weight.txt
    ima_in_dir: /AtrilBioscaCermoi_time1/FPOCalCu/ima_FPOCalCu
    imaMA_out_dir: /AtrilBioscaCermoi_time1/FPOCalCu/shape_select/imaMA_maxRightManhattan_col_IsoDim3Neig5  

                                        
  callGenMA_mesh:
    ###  Get the averaged MA meshes according to MA images generated above  ###
    #################   parameter definitions   ##################
    # curWeightFile: the weight file generated in CallGetWeight 
    # imaMA_in_dir:  the MA images already generated in the step just above
    # meshMA_out_dir:  the output directory of the MA meshes
    # targetMesh_path: the location of meshes to the center subject
    # target_name: the name of the center subject
    # coordScale: the spacing regulator -e, 500 for CSSyl, 800 for CSpreCS
    #             for other regions need to experiment to find the ideal spacing 
    # smoothingFactor: smoothing factor for mesh              
    # aimsThreshold: aims threshold for mesh    
    
    #################   example parameters for isomap, min, dim 3, coord 10   ##################         
    #curWeightFile: /AtrilBioscaCermoi/CSSyl/shape_Isomap_select/isomapCmdsCSSylk10d3distmin_sca_1_7_col3_weight.txt
    #imaMA_in_dir: /AtrilBioscaCermoi/CSSyl/shape_Isomap_select/imaMA_dim33_sca_1_7_min       
    #meshMA_out_dir: /AtrilBioscaCermoi/CSSyl/shape_Isomap_select/meshMA_dim33_sca_1_7_min   
    #targetMesh_path: /AtrilBioscaCermoi_time1/CSSyl/mesh_flip-R00005PS_V1
    #target_name: flip-R00005PS_V1 
    #coordScale: 500       # -e for regulating spacing, 500 for CSSyl, 800 for CSpreCS
    #smoothingFactor: 3.0  # -o, default to 2.0              
    #aimsThreshold: 0.06   # -t # CSSyl default to 0.06

    #################   isomap, max, dim 5, coord 8   ################# 
    curWeightFile: /AtrilBioscaCermoi_time1/FPOCalCu/shape_select/FPOCalCu_maxRightManhattan_col_IsoDim3Neig5_weight.txt
    imaMA_in_dir: /AtrilBioscaCermoi_time1/FPOCalCu/shape_select/imaMA_maxRightManhattan_col_IsoDim3Neig5       
    meshMA_out_dir: /AtrilBioscaCermoi_time1/FPOCalCu/shape_select/meshMA_maxRightManhattan_col_IsoDim3Neig5    
            
    targetMesh_path: /AtrilBioscaCermoi_time1/FPOCalCu/mesh_L001020HG_E1
    target_name: L001020HG_E1
       
    coordScale: 800       # -e for regulating spacing, 500 for CSSyl, 800 for CSpreCS
    smoothingFactor: 3.0  # -o, default to 2.0              
    aimsThreshold: 0.6   # -t # CSSyl default to 0.06
       
    
